<p id="notice"><%= notice %></p>

<h1>
  <%= @event.title %>
</h1>
<p>
  <%= @event.description %>
</p>

<p>
  <strong>Address:</strong>
  <span title="<%= @event.latitude %>, <%= @event.longitude %>"><%= @event.address %></span>
</p>

<p>
  <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@event.latitude}%2C#{@event.longitude}" %>
</p>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
